main{
    position: absolute;
    width: 100vw;
    bottom: 0;
    display: flex;
    height: 80px;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    background: #131313;
    .item_tab{
        display: flex;
        flex-direction: column;
        align-content: center;
        gap: 5px;
        width: 50px;
        img{
            width: 30px;
        }
    }
}